body {
    background: url(../images/bglogin.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 15px; 
}

.logo {
    margin-right: 10px;
}

.container h1 {
    margin: 0;
    color: #E41414;
}

.rectangle1 {
    width: 736px;
    height: 700px;
    background-color: #E7D2D2;
    margin-top: 60px; 
    border-radius: 62px;
    position: absolute; 
    right: 190px; 
    top: 90px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.rectangle2 {
    width: 175px;
    height: 115px;
    background-color: #D9D9D9;
    margin-top: 45px;
    display: flex; 
    margin-left: 150px;
    justify-content: center; 
    align-items: center; 
    border-radius: 51px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.welcome {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-left: 130px;
}

#username,
#password {
    width: 433px;
    height: 94px;
    border-radius: 22px;
    border-color: #403131;
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.nextButt, .signUp {
    width: 202px;
    height: 75px;
    border-radius: 38px;
    border: none;
    display: flex; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
}

.nextButt {
    background-color: #8C99DD;
}

.nextButt img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.nextButt h2,
.signUp h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
}

.signUp {
    background-color: #B7B7B7;
}

.signUp h2 {
    text-align: center; 
    cursor: pointer;
    text-decoration: none;
}

.hyperl{
    text-decoration: none;
    color: black;
}